* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    background-color: #EEEEEE;
}

header {
    position: absolute;
    top: 3rem;
    left: 10rem;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-btn {
    width: 40px;
    height: 40px;
    background-color: var(--primary-blue);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-close {
    width: 40px;
    height: 40px;
    background-color: var(--primary-blue);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1.0;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
}

.line {
    height: 2px;
    width: 75%;
    background-color: white;
    margin-bottom: 3px;
}

.line:nth-child(2) {
    width: 100%;
}

.line:nth-child(3) {
    width: 50%;
    margin-bottom: 0;
}

.logo-text {
    color: var(--primary-blue);
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-text {
    color: #305DFF;
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}

.menu-link {
    color: var(--primary-blue);
    text-decoration: none;
    font-size: 1.5rem;
}

/* .search-bar {
    padding-right: 5%;
} */